<%- include("partials/header"); -%>
    <h1  class="home-title">About</h1>
    <p  class="description-compose">Thanks for joining us! If you would like to take your journalling skills to the next level, check out
    the daily journalling app Campfire at <a href ="http://ourcampfire.space/" target = "_blank"> ourcampfire.space.</p>
<%- include("partials/footer"); -%>
